<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Telefon Rehberi</title> @*sayfanın başlığı*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhoneBookApplication.styles.css" asp-append-version="true" /> @*özel stil dosyası*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @*Aşağıdaki bağlantı, sayfanın başlığını temsil eder ve "Contacts" controller'ındaki "Index" action'ına yönlendirir.*@
                <a class="navbar-brand" asp-area="" asp-controller="Contacts" asp-action="Index">Telefon Rehberi</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">Kişi Listesi</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() @*sayfa içeriğini alır*@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Telefon Rehberi - Zişan ve Nisa @*sayfanın alt bilgisi, tarih ve isim içerir*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

   @* Bu etiket, sayfanın içeriğinde bir bölüm oluşturulmuşsa, bu bölümdeki scriptleri çağırır. 
    Bu layout sayfası kod tekrarını önler ve tutarlı bir görünüm sağlar. 
    Bootstrap ve jQuery gibi kütüphaneleri kullanarak mobil uyumluluk ve kullanıcı arayüzü geliştirmeleri de sağlanmıştır.*@
</body>
</html>
