@model PhoneBookApplication.Models.Contact 

@{
    Layout = "_Layout"; //şablon oluşturma
}
@*bu sayfa kişiyi silme işlemi için kullanılan bir onay sayfasıdır
*@<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Bu kişiyi silmek istediğinizden emin misiniz?</h3> /
<div>
   
    <hr />
        <dl class="row">
@*   dl etiketi, bir tanım listesi oluşturur. Bu durumda, Ad ve Soyad bilgilerini görüntülemek için kullanılır. 
    col-sm-2 ve col-sm-10 sınıfları, Bootstrap tarafından sağlanan grid sisteminin bir parçası olarak, 
    ekrana düzgün bir şekilde yerleştirmek için kullanılır.
*@
            <dt class="col-sm-2">
@*                dt içindekiler tanımlı terimleri temsil eder

*@           @* @Html.DisplayNameFor(model => model.Name)*@Ad 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
                @*@Html.DisplayNameFor(model => model.Surname)*@Soyad // @*dd etiketleri bu terimlere ait değerleri 
                (@Html.DisplayFor(model => model.Name)) temsil eder. *@
                @*Html.DisplayFor metodu modeldeki belirli bir özelliği görüntülemek için kullanılır.*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
    </dl>
      @*  Bu form kullanıcıdan silme işlemini onaylamasını ister. asp-action attribute'ü, 
        formun hangi eyleme gönderileceğini belirtir. Silme işlemi için Delete’e gönderiyoruz*@.
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Kişi Listesine Geri Dön</a>
    </form>
</div>
</body>
</html>
